@font-face {
  font-family: "AzoSans";
  src: url("./fonts/AzoSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AzoSans";
  src: url("./fonts/AzoSans-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AzoSans";
  src: url("./fonts/AzoSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AzoSans", sans-serif !important;
  background-color: #f4f6f8;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("./logo.svg") url("./assets/Friends.svg")
    url("./assets/Check-in-photo.png") url("./assets/Comparebutton.svg")
    url("./assets/Welcome\ to\ Propono.png") url("./assets/Group\ 47493.svg")
    url("./assets/Introducing.svg") url("./assets/Collect-modal.png")
    url("./assets/Collect-album-custom.png") url("./assets/Collect1.png")
    url("./assets/Collect2.png") url("./assets/Collect3.png")
    url("./assets/Collect-4.png") url("./assets/Album-following.png")
    url("./assets/Friend-rating.png")
    url("   ./assets/Critics-publications.png")
    url("./assets/Compare-button.png");
}

.container {
  font-family: "AzoSans", sans-serif !important;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.tab-container {
  display: flex;
  width: 100%;
  background-color: #e5d7ff;
  position: relative;
  border-bottom: #e5d7ff;
  background: linear-gradient(to bottom, #6744c9 50%, #e5d7ff 50%);
  padding: 0 !important;
}
.tab-button {
  flex: 1;
  padding: 12px 0;
  text-align: center;
  background-color: #6744c9;
  font-family: "AzoSans", sans-serif !important;
  color: white;
  border: none !important;
  margin: 0 !important;
  cursor: pointer;
  font-size: 4vw;
  position: relative;
}
.tab-button:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 65%;
  width: 2px;
  background-color: rgba(34, 34, 34, 0.3);
}

.tab-button:has(+ .active)::after {
  display: none;
}

.tab-button.active::after {
  display: none;
}

.tab-button:has(+ .active) {
  border-bottom-right-radius: 12px;
}

.tab-button.active + .tab-button {
  border-bottom-left-radius: 12px;
}

.tab-button.active {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #e5d7ff;
  color: #6744c9;
}
.content {
  text-align: center;
}
.content h2 {
  color: #333;
}
.content p {
  color: #666;
}
.button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 12px 40px 12px 40px;
  background-color: #6744c9;
  color: white;
  border: none;
  border-radius: 5px;
  width: 230px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  font-family: "AzoSans", sans-serif !important;
  margin-top: 20px;
}
.content-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #6744c9;
}
.header {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #6744c9;
  margin: 20px 0;
}
.content-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #e5d7ff;
  border-top: #e5d7ff;
}
.content-heading-text {
  font-size: 20px;
  font-weight: 500;
  color: #6744c9;
}

.svg-background {
  width: 50px;
  height: 50px;
  background-image: url("./logo.svg");
  background-size: cover;
}
.content-heading-text-hidd {
  visibility: hidden;
}

.friend-header {
  font-size: 7vw;
  color: #6744c9 !important;
  font-weight: 600;
  margin: 0 0 10px;
}

.checkin-header {
  position: absolute;
  font-size: 22px;
  color: #6744c9 !important;
  font-weight: 600;
  margin: 0 0 10px;
  bottom: 10px;
  left: 12%;
  top: 80%;
}

.friend-image {
  width: 150px;
  height: 150px;
  background-image: url("./assets/Friends.svg");
  background-size: cover;
}

.check-in-image {
  position: relative;
  width: 180px;
  height: 100px;
  margin-left: 29px;
  background-image: url("./assets/Check-in-photo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.comapre-image {
  width: 150px;
  height: 50px;
  background-image: url("./assets/Comparebutton.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.welcome-image {
  width: 200px;
  height: 200px;
  background-image: url("./assets/Welcome-image.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.welcome-text-section {
  width: 100vh;
  aspect-ratio: 5/1;
  background-image: url("./assets/Welcome\ to\ Propono.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.welcome-text-section-container {
  padding: 0 20px 0 20px !important;
  display: flex;
  align-items: center !important;
  justify-self: center !important;
}

.welcome-image-left {
  width: 180px;
  height: 150px;
  background-image: url("./assets/Introducing.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.top-main {
  width: 100vw;
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.collect-introducing {
  font-size: 21px;
  color: #6744c9;
  font-weight: 600;
}

.collect-personal-restaurant {
  text-align: start;
  font-size: 4vw;
  color: #212b36 !important;
  font-family: "AzoSans", sans-serif !important;
}

.collect-top-right {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.collect-text-common {
  font-size: 4vw;
  color: #212b36 !important;
  text-align: start;
  font-weight: 500;
}

.colect-one {
  width: 100vw !important;
}

.collect-one-img {
  position: relative;
  width: 100%;
  aspect-ratio: 5/2.333;
  background-image: url("./assets/Collect1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.collect-one-text {
  position: absolute;
  left: 39%;
  top: 65%;
}

.colect-two {
  width: 100vw !important;
}

.collect-two-img {
  position: relative;
  width: 100%;
  aspect-ratio: 5/3.843;
  background-image: url("./assets/Collect2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.collect-two-text {
  position: absolute;
  left: 14%;
  top: 77%;
}

.colect-three {
  width: 100vw !important;
}

.collect-three-img {
  position: relative;
  width: 100%;
  aspect-ratio: 5/3.3;
  background-image: url("./assets/Collect3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.collect-three-text {
  position: absolute;
  left: 10%;
  top: 80%;
}

.colect-four {
  width: 100vw !important;
}

.collect-four-img {
  position: relative;
  width: 100%;
  aspect-ratio: 5/3.4;
  background-image: url("./assets/Collect-4.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.collect-four-text {
  position: absolute;
  left: 5%;
  top: 52%;
}

.friend-sub-header {
  padding-left: 12px;
  font-size: 4vw;
  color: #212b36 !important;
  text-align: start;
  font-weight: 500;
  margin: 0 0 10px !important; /* Reduced margin above */
}

.friend-sub-header-small {
  font-size: 4vw;
  color: #212b36 !important;
  text-align: start;
  font-weight: 500;
  padding-left: 12px;
  margin-bottom: 10px;
}

.comapre-sub-header-small {
  font-size: 4vw;
  color: #212b36 !important;
  text-align: start;
  margin-top: 17px;
  font-weight: 500;
  padding-left: 12px;
  margin-bottom: 12px;
}

.critics-sub-header-small {
  font-size: 4vw;
  color: #212b36 !important;
  text-align: start;
  margin-top: -30px !important;
  font-weight: 500;
  padding-left: 12px;
  margin-left: 50px;
  margin-bottom: 12px;
}

.friend-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 30px;
}

.compare-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.friend-container {
  padding-top: 20px;
  background-color: #f4f6f8;
}

.checkin-container {
  padding-top: 20px;
  background-color: #f4f6f8;
}

.friend-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 35px;
}

.responsive-img {
  width: 93vw;
  max-width: 93vw;
  height: auto; /* Maintain aspect ratio */
}

.extra-bold {
  font-weight: 800;
}

.div,
.p {
  font-family: "AzoSans", sans-serif !important;
  color: #212b36 !important;
}

.margin-bottom {
  margin-bottom: 20px;
}

.center {
  width: 100%vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkin-text {
  margin-top: 50px !important;
  margin-bottom: 20px !important;
}

.checkin-text-two {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.font-size {
  font-size: 28px !important;
  font-weight: 600 !important;
  margin-bottom: 30px;
}

.align {
  text-align: center;
  font-family: "AzoSans", sans-serif !important;
  padding-top: 20px;
}
.text-center {
  text-align: center;
}

.collect-main {
  border-bottom: 1px solid rgb(212, 212, 212);
  width: 92vw;
  display: flex;
  margin-left: 4vw;
  margin-top: 20px;
}

.margin-top-collect {
  margin-top: 50px;
}

.memories-font-size {
  font-size: 20px !important;
}

.position-relative {
  position: relative !important;
}

.collect-button-height-absolute {
  position: absolute;
  width: 110vw;
  height: 135vh;
  top: 34px;
  left: -15px;
  background-image: url("./assets/connecting_line.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

.collect-button-height {
  min-height: 60px !important;
}

.compare-overlay-text {
  position: absolute;
  width: 100px;
  padding: 8px;
  background: #fff;
  border-radius: 8px;
  border: 2px solid #6744c9;
  right: 30px;
  top: 34%;
  box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.75);
}

.padding-horizontal {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-left-sm {
  margin-left: 6px;
}

.width-lg {
  width: 100vw !important;
}

.compare-full-img {
  width: 100vw;
  height: auto; /* Maintain aspect ratio */
}
